/* ContactUsButton.css */
.contact-us-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366; /* WhatsApp green */
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
  }
  
  .contact-us-button i {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .contact-us-button:hover {
    background-color: #128c7e; /* Darker green when hovered */
    transform: translateY(-5px);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .contact-us-button:focus {
    outline: none;
  }
  